@model ML.Usuario

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net">

    <h1> hola munnfo</h1>
    <h1> @Model.Nombre</h1>


    <div class="table-responsive-md" style="max-height: 400px; overflow-y: auto;">
        <table class="table col-6 col-sm-4">
            <thead>
                <tr>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Fecha nacimiento</th>
                    <th scope="col">sexo</th>
                    <th scope="col">telefono</th>
                    <th scope="col">celular</th>
                    <th scope="col">curp</th>
                    <th scope="col">estatus</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (ML.Usuario usuario in Model.Usuarios)
                {
                    <tr>
                        <th>
                            <a class="btn btn-warning" href="@Url.Action("UsuarioForm", "Home", new { IdUsuario = usuario.IdUsuario })">
                                <i class="bi bi-pencil-square">Actualizar</i>
                            </a>
                        </th>
                        @*<th> @Html.ActionLink("Editar", "Form", "Usuario", new { IdUsuario = usuario.IdUsuario }, new { @class = "btn btn-warning" }) </th> *@
                        @*<th> @Html.ActionLink("Eliminar", "Delete", "Usuario", new { IdUsuario = usuario.IdUsuario }, new { @class = "bi bi-backpack4" })</th>*@
                        <th>
                            <a class="btn btn-danger" href="@Url.Action("Delete", "usuario", new { IdUsuario = usuario.IdUsuario })">
                                <i class="bi bi-trash">Eliminar</i>
                            </a>
                        </th>

                        <th id="IdUser" scope="row" class="celda_IdUsuario" hidden>@usuario.IdUsuario</th>
                        <td>@($"{usuario.Nombre} {usuario.ApellidoPaterno} {usuario.ApellidoMaterno}")</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.UserName</td>
                        <td>@usuario.Password</td>
                        <td>@usuario.FechaNacimiento</td>
                        <td>@usuario.Sexo</td>
                        <td>@usuario.Telefono</td>
                        <td>@usuario.Celular</td>
                        <td>@usuario.CURP</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="Estatus"
                                       id="@usuario.IdUsuario"
                                       value="true"
                                       onchange="UsuarioUpdateEstatus(@usuario.IdUsuario, this)"
                                @(usuario.Estatus == true ? "checked" : "") />
                            </div>
                        </td>
                        <td>usuario.Rol.Descripcion</td>
                        <td>
                            @{
                                if (@usuario.Imagen != null && usuario.Imagen.Length > 0)
                                {
                                    var base64 = Convert.ToBase64String(usuario.Imagen);
                                    var imgSrc = String.Format("data:{0};base64,{1}", usuario.ContentType, base64);
                                    <img src="@imgSrc" alt="Product Image" style="width: 100px; height: auto;" />
                                }
                                else
                                {
                                    <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png"
                                         alt="Sin imagen"
                                         style="width:100px;height:auto;" />
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>




}
